@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--FontFamily);
}

:root{
    /*Primary*/
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
    /*Neutral*/
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGray: hsl(0, 0%, 98%);

    /*Fontes*/
    --FontBody: font-size: 16px;
    --FontFamily: "DM Serif Display", serif;

}

body{
    background-color: var(--VeryLightGray);
}
header{ 
    margin: 20px;

}
header > img {
    position: relative;
    left: 20px;
    top: 20px;

}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;

}
nav > button {
    padding: 10px;
    height: 2.5rem;
    width: 9rem;
    border: 2px solid var(--DarkViolet);
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-right: 30px;
    background-color: white;
    border-radius: 2px;
    font-size: medium;
}
button:hover{
    background-color: var(--VeryDarkViolet);
    color: white;
 }


ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
ul > li, a {
    font-family: var(--FontFamily);
    color: var(--GrayishBlue);
    letter-spacing: 1px;
    text-decoration: none;

}
a:hover {
    font-family: var(--FontFamily);
    color: var(--VeryDarkViolet);
}
hr{
    background-color: rgb(192, 45, 45);
    z-index: 9;
    width: 200px;
    height: 2px;
    position: relative;
}
.intro-desktop{
    position: relative;
    z-index: 9;
    right: 14rem;
    top: 7rem;

}

.pattern-intro{
    background-color: var(--DarkViolet);
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.intro-left{
    z-index: 9;
    position: absolute;
    top: 30vw;
    
}
.intro-right{
    z-index: 12;
    position: absolute;
    right: 0.2rem;
    top: 6.5rem;

}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
h1{
    word-wrap: break-word;
    text-align: justify;
    
}
.main-content > p {
    position: relative;
    background-color: aqua;
    text-align: justify;
}
.main-content > button{
    padding: 10px;
    height: 2.5rem;
    width: 9rem;
    border: 1px solid var(--VeryLightGray);
    word-spacing: 2px;
    letter-spacing: 2px;
    background-color: var(--DarkViolet);
    border-radius: 2px;
    font-size: medium;
    color: var(--VeryLightGray);
   

}
.main-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
    justify-content: start;
    left: 200px;
    gap: 10px;
    padding: 20px;

}
.main-text > h1{
    color: var(--VeryLightGray);
    font-size: 5rem;
    text-align: justify;
    width: 40vw;

}

.main-text > p {
    justify-content: center;
    text-align: left;
    width: 40vw;
    color: var(--VeryLightGray);
}

.main-text > button{
        padding: 10px;
        height: 2.5rem;
        width: 9rem;
        border: 1px solid var(--VeryLightGray);
        word-spacing: 2px;
        letter-spacing: 2px;
        background-color: var(--DarkViolet);
        border-radius: 2px;
        font-size: medium;
        color: var(--VeryLightGray);
}

.pattern{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
.pattern-title{
    padding: 50px;

}

.pattern-title > h2{
    font-size: 50px;
    margin-top: 40  px;
}
.pattern-content{
    display: flex;
    background-color: blueviolet;
}






